@import "resume";
@import "service";
@import "header";
@import "mainhome";
@import "contact";
$break-point: 768px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  @media screen and (min-width: $break-point) {
    background-color: rgb(244, 239, 239);
    max-width: 1500px;
    margin: 0 auto;
  }
  @media screen and (max-width: $break-point) {
    margin: 0px 3px 0px 3px;
  }
}

header {
  @media screen and (min-width: $break-point) {
    @include desktopheader;
  }

  @media screen and (max-width: $break-point) {
    @include desktopheader;
    @include mobileheader;
  }
}
#mainactive {
  display: block;
}
main {
  @media screen and (min-width: $break-point) {
    @include mainhome;
    @include resume;
    @include service;
    @include contact;
    .current {
      border-bottom: 1px solid rgb(245, 132, 11);
    }

    .mainacitive {
      display: block;
    }
  }

  @media screen and (max-width: $break-point) {
    @include mainhome;
    @include resume;
    @include service;
    @include mobilehome;
    .current {
      border-bottom: 1px solid rgb(245, 132, 11);
    }

    .mainacitive {
      display: block;
    }
  }
}
