.mainhome__resume {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .mainhome__resume__top {
    position: relative;
    text-align: center;
    max-width: 1000px;
    color: white;
    background-image: url(../image/resume-backgournd.jpeg);
    font-size: 50px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    p {
      margin-top: 20px;
    }
  }
  .mainhome__resume__middle {
    position: relative;
    background-color: white;
    > div {
      margin-top: 40px;
    }

    .mainhome__resume--details {
      position: relative;
      margin-top: 30px;
      > div {
        border-left: 2px solid rgb(181, 181, 181);
        width: 400px;
        margin-left: 78px;
        float: left;
        max-height: 250px;
      }

      .mainhome__resume__content {
        margin-top: 30px;
        position: relative;
        width: 350px;
        left: 0px;
        margin-left: 45px;
        border-left: rgb(211, 115, 74) 2px solid;
        border-radius: 5px;
        p {
          padding: 10px 0px 5px 10px;
        }
      }
    }
  }
  .mainhome__resume__down {
    position: relative;
    background-color: white;

    > div {
      margin-top: 40px;
    }
    .mainhome__resume__skill {
      float: left;
      top: 0px;
      left: 0px;
      width: 400px;
      margin-left: 75px;

      p {
        margin-bottom: 10px;
      }
    }
  }
}

.circle {
  position: absolute;
  top: 11px;
  left: -54px;
  width: 15px;
  height: 15px;
  color: white;
  border: 2px rgb(211, 115, 74) solid;
  border-radius: 50%;
}

.line {
  position: absolute;
  top: -7px;
  left: -50px;
  color: rgb(211, 115, 74);
}

.mainhome__resume--title {
  padding: 50px;
  margin-left: 25px;
  margin-right: 260px;
  text-align: center;
  font-size: 20px;
}
.progcontainer {
  width: 350px;
  height: 15px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
.progressbar {
  width: 0%;
  background-color: rgb(245, 132, 11);
  height: 100%;
}
