.mainhome__resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mainhome__resume .mainhome__resume__top {
  position: relative;
  text-align: center;
  max-width: 1000px;
  color: white;
  background-image: url(../image/resume-backgournd.jpeg);
  font-size: 50px;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}

.mainhome__resume .mainhome__resume__top p {
  margin-top: 20px;
}

.mainhome__resume .mainhome__resume__middle {
  position: relative;
  background-color: white;
}

.mainhome__resume .mainhome__resume__middle > div {
  margin-top: 40px;
}

.mainhome__resume .mainhome__resume__middle .mainhome__resume--details {
  position: relative;
  margin-top: 30px;
}

.mainhome__resume .mainhome__resume__middle .mainhome__resume--details > div {
  border-left: 2px solid #b5b5b5;
  width: 400px;
  margin-left: 78px;
  float: left;
  max-height: 250px;
}

.mainhome__resume .mainhome__resume__middle .mainhome__resume--details .mainhome__resume__content {
  margin-top: 30px;
  position: relative;
  width: 350px;
  left: 0px;
  margin-left: 45px;
  border-left: #d3734a 2px solid;
  border-radius: 5px;
}

.mainhome__resume .mainhome__resume__middle .mainhome__resume--details .mainhome__resume__content p {
  padding: 10px 0px 5px 10px;
}

.mainhome__resume .mainhome__resume__down {
  position: relative;
  background-color: white;
}

.mainhome__resume .mainhome__resume__down > div {
  margin-top: 40px;
}

.mainhome__resume .mainhome__resume__down .mainhome__resume__skill {
  float: left;
  top: 0px;
  left: 0px;
  width: 400px;
  margin-left: 75px;
}

.mainhome__resume .mainhome__resume__down .mainhome__resume__skill p {
  margin-bottom: 10px;
}

.circle {
  position: absolute;
  top: 11px;
  left: -54px;
  width: 15px;
  height: 15px;
  color: white;
  border: 2px #d3734a solid;
  border-radius: 50%;
}

.line {
  position: absolute;
  top: -7px;
  left: -50px;
  color: #d3734a;
}

.mainhome__resume--title {
  padding: 50px;
  margin-left: 25px;
  margin-right: 260px;
  text-align: center;
  font-size: 20px;
}

.progcontainer {
  width: 350px;
  height: 15px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.progressbar {
  width: 0%;
  background-color: #f5840b;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #f4efef;
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (min-device-width: 760px) {
  header {
    max-width: 80%;
    background-color: #babcbd;
    position: fixed;
    margin: -150px auto;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1;
  }
  header .nav__left {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 135px;
    font-size: 30px;
    color: white;
  }
  header .nav__left span {
    color: #672ea0;
  }
  header .nav__right {
    margin-top: 10px;
    float: right;
    padding: 20px 0px 20px 0px;
  }
  header .nav__right li {
    padding: 20px;
    list-style: none;
    float: left;
    margin-top: -30px;
    position: relative;
  }
  header .nav__right li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 0px solid #00fef9;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  header .nav__right li:hover::after {
    border-bottom: 2px solid #00fef9;
    cursor: pointer;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  header .fa-list {
    color: white;
    display: none;
  }
  .mainhome {
    display: none;
    max-width: 1000px;
    margin: 150px auto;
    position: relative;
  }
  .mainhome__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #2da2d3;
    margin: 0px 0px 0px 0px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainhome__top img {
    float: left;
    margin: 40px 50px 0px 50px;
    border: white solid 2px;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  .mainhome__top div {
    float: right;
    text-align: center;
    color: #e17676;
    z-index: 1;
  }
  .mainhome__top div p {
    margin-top: 50px;
    font-size: 50px;
  }
  .mainhome__top div span {
    font-size: 40px;
  }
  .mainhome__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 20px 20px;
  }
  .mainhome__down__details1 h3 {
    margin: 50px 0px 20px 50px;
  }
  .mainhome__down__details1 p {
    margin: 0px 0px 0px 50px;
    max-width: 350px;
  }
  .mainhome__down__details2 {
    margin: 40px 40px 0px 0px;
  }
  .mainhome__down__details2 table tr {
    padding: 20px;
  }
  .mainhome__down__details2 table tr td {
    padding: 10px;
  }
}

@media screen and (max-width: 760px) {
  header .nav__right ul {
    display: none;
  }
  header .fa-list {
    position: absolute;
    margin: -10px -60px;
    display: block;
  }
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.current {
  border-bottom: 1px solid #f5840b;
}

.mainacitive {
  display: block;
}
/*# sourceMappingURL=index.css.map */